.row #button1 {
    width: 150px;
    height: 40px;
}

#text1 {
    margin-top: 100px;
}

#car{
    background:url(../img/back.jpeg);
    background-size: cover;
    /* background-color: #00acee; */
}
body{
    /* background-color: #00acee;     */
}
.navbar{
    background-color: #00acee;
}
